.plot-marker-style {
    z-index: 9000;
    pointer-events: none;
}

.map-plot-symbol-style {
    display:inline;
    opacity:1.0;
    fill:$plot-symbol-colour;
    fill-opacity:0.8;
    fill-rule:nonzero;
    @include themed('stroke', 'default-background-colour');
    stroke-width:0px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4px;
    stroke-dasharray:none;
    stroke-dashoffset:0px;
    stroke-opacity:0.5;
}