$large-font-size: 1.2REM;
$mid-font-size: 1.0REM;
$small-font-size: 0.8REM;

$hover-menu-opacity: 0.95;
$base-menu-opacity: 0.90;
$header-menu-opacity: 0.30;
$dim-menu-opacity: 0.20;
$hint-menu-opacity: 0.10;
$normal-bright-opacity: 0.85;
$dim-bright-opacity: 0.65;
$outline-opacity: 0.50;

$base-button-spacing: 3px;
$main-top-bar-height: 24px;
$main-control-panel-expanded-width: 300px;
$main-control-panel-collapsed-width: 68px;

$menu-shadow-colour: #1C1C1C60;
$track-shadow-colour: #1C1C1CFF;